:root {
    --main-color: #66EB9A;
}

.navbar-brand {
    color: var(--main-color) !important;
}

li {
    list-style: none;
}

.list > .row, .list {
    margin-bottom: 1em;
    padding: 1em;
}

.description {
    margin-bottom: 1em;
}

.product {
    margin-top: 1em;
}

a:hover {
    text-decoration: none !important;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.media-body {
    padding-left: 2em;
}

.media > a:hover {
    text-decoration: none;
}

.app_item {
    margin: 0.25em;
}

.page-link {
    color: #000000;
}

.page-item.active .page-link {
    background-color: #343a40 !important;
    color: #ffffff !important;
    border-color: #343a40 !important;
}

textarea#description {
    min-height: 150px;
    text-align: left;
}

#picture_preview_card {
    height: 300px;
    float: right;
    text-align: center;
}

#picture_preview {
    height: 75%;
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

.product-info, .product-info li {
    background: none !important;
    border: none !important;
    padding-left: 0 !important;
}

li.code {
    color: #4c110f;
}

footer li a, footer {
    color: rgba(255, 255, 255, 0.5) !important;
}

.notif {
    cursor: unset !important;
    margin-bottom: 1rem;
}

.notif:hover {
    background: transparent !important;
    color: var(--main-color) !important;
}

.article {
    color: rgba(0, 0, 0, 0.7) !important;
}

.article img {
    max-height: 300px;
}