.page-item.active .page-link {
    background-color: #000000 !important;
    color: #ffffff !important;
    border-color: #000000 !important;
}

textarea#description {
    min-height: 160px;
    text-align: left;
}

#picture_preview_card {
    height: 300px;
    float: right;
    text-align: center;
}

#picture_preview{
    height: 75%;
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}